<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "icon" href = "{{url_for('static', filename = 'img/lostvayne.ico')}}">
	<title>Serviço Figuras</title>
	
	<link rel = "stylesheet" href = "{{url_for('static', filename = 'css/index.css')}}">
    
</head>
<body>
   <h1 id = "titulo-princ">Serviço de fornecimentos de figuras geométricas</h1>
   <h2 id = "figs-disponiveis">Figuras Disponíveis: Quadrado, Círculo, Retângulo e Triângulo</h2>
   <div id = "interface-figs">
       <button type="button" id = "solicitar">Solicitar Figura</button>
	   <button type="button" id = "limpar">Limpar Tela</button>
	   <h1 id = "figs-servidor">Figuras Retornadas pelo Servidor</h1>
	   <div id = "espaco-figs">
			
	   </div>
   </div>
   
   <div class="rodape">
		<footer>
			<p> Criado por: joaquim Santos e Paulo Henrique</p>
			<p>Copyright &copy; 2019 - Serviço Figuras</p>
		</footer>
	</div>

 <script type = "text/javascript" src = "{{url_for('static', filename = 'js/jquery.js')}}"></script>
 <script type = "text/javascript" src = "{{url_for('static', filename = 'js/index.js')}}"></script> 
 
	<script>
		$(function() {
				$('#solicitar').click(function() {
					$('#figs-servidor').show();
					$.ajax({
						url: '/home',
						type: 'POST',
						success: function(response) {
							let element = document.getElementById('espaco-figs');
							if (response == 'triangulo'){
								element.innerHTML += '<img src="{{url_for("static", filename = "img/triangulo.png")}}" id = "triangulo" class = "figura-serv" alt = "Imagem Triânguo">';
							}
							else if(response == 'retangulo'){
								element.innerHTML += '<img src="{{url_for("static", filename = "img/retangulo.jpg")}}" class = "figura-serv" alt = "Imagem Retângulo">';
							}
							else if(response == 'quadrado'){
								element.innerHTML += '<img src="{{url_for("static", filename = "img/quadrado.jpg")}}" class = "figura-serv" alt = "Imagem Quadrado">';
							}
							else if(response == 'circulo'){
								element.innerHTML += '<img src="{{url_for("static", filename = "img/circulo.png")}}" class = "figura-serv" alt = "Imagem Círculo">';
							}
							console.log(response);
						},
						error: function(error) {
							console.log(error);
					}
				});
			});
		});

	 </script>
 
 </body>
 
</html>