body{
	background-color: rgb(0,255,0);
}

h1#titulo-princ{
	text-align: center;
	color:rgb(0,0,205);
	font-style: italic;
	font-stretch: expanded;
	font-weight: bold;
	font-family: Times New Roman, Times, serif;
}

h2#figs-disponiveis{
	text-align: center;
	color:rgb(0,0,205);
	font-style: italic;
	font-stretch: expanded;
	font-weight: bold;
	font-family: Times New Roman, Times, serif;
}

h1#figs-servidor{
	text-align: center;
	color:rgb(255,255,0);
	font-style: italic;
	font-stretch: expanded;
	font-weight: bold;
	font-family: Times New Roman, Times, serif;
}

div#interface-figs{
	background-color: rgb(0,0,255);
	text-align: center;
	width: 1000px;
	border-style: dashed;
	border-width: 5px;
	border-color: yellow;
	color: white;
	margin: 0 auto;
	margin-bottom: 20px;
}

button#solicitar{
  background-color: rgb(28,28,28); 
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-stretch: expanded;
  font-weight: bold;
  font-family: Times New Roman, Times, serif;
  margin-right: 10px;
}

button#limpar{
  background-color: rgb(28,28,28); 
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-stretch: expanded;
  font-weight: bold;
  font-family: Times New Roman, Times, serif;
}

img.figura-serv{
	padding-bottom: 20px;
	padding-right: 20px;
}

img#triangulo{
	 width: 15%;
 }
 
footer{
	text-align: center;
	color: black;
	padding-top: 10px;
	border-top-style: solid;
}